* {
    font-family: "Indie Flower", cursive, "Monotype Corsica", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #F6EADB;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    font-family: "Indie Flower", cursive, "Monotype Corsica", Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: lighter;
    color: #FC8585;
}

.container {
    border: solid 1px;
    width: 500px;
    height: 500px;
    background-color: white;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;   
}

.cell {
    border-style: solid;
    border-color: #FBDBA2;
    flex-grow: 1;
}



.mainBody {
    display: flex;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
}

.info {
    width: 250px;
    background-color: #FFC86D;
    border-radius: 12px;
    font-size: 16px;
    padding: 12px;
}

.trademark {
    font-weight: 100;
    font-size: 12px;
    color: #FC8585;

}

.newGrid,
.black,
.grayTo,
.rainbow {
    padding: 16px;
    font-size: x-large;
    border-radius: 16px;
    background-color: #85CBD9;
}